/*.sapUiSizeCompact.sapMDialog>.sapMDialogSection, .sapUiSizeCompact .sapMDialog>.sapMDialogSection {
    height: 20em !important;
    width: 30em !important;
}
.sapMInputBaseContentWrapper>.sapMTextAreaInner{
	height: 18em !important;
    width: 32em !important;
}*/